/* RESETS */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

/* END RESETS */

@import url('node_modules/keen-ui/dist/keen-ui.min.css');

body {
  font-size: 100%;
  background-color: #222;
  padding: 30px;
  width: 100%;
  height: 100%;
  margin: 0;
}


/** Mixer specific **/
@font-face {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  src: local("Orbitron Regular"), local("Orbitron-Regular"), url(/assets/fonts/google-orbitron.woff2) format("woff2");
}

.main-container {
  margin: auto auto;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: row;
  flex-basis: 90%;
  /* transform: perspective(100em) rotateX(50deg); */
}

.left-panel {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  max-width: 40%;

  /* float: left;
  width: 40%; */
  min-height: 100px;
}

.right-panel {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  max-width: 40%;
  /* float: right;
  width: 40%; */
  min-height: 100px;
}

.middle-panel {
  /* width: 20%; */
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  max-width: 20%;
}

.left-channel-display {
  margin: auto;
}

.right-channel-display {
  margin: auto;
}

.vinyl-record-wrapper {
  display: block;
  margin: auto;
  padding: 2px;
  max-height: 418px;
  max-width: 418px;
  border-width: 4px;
  border-color: #aaa;
  border-style: dashed;
  border-radius: 50%;
}

.deck-info-panel {
  text-align: center;
  margin: 10px auto;
}

.deck-volume-display {
  font-family: "Orbitron";
  font-weight: bold;
  font-style: italic;
  line-height: 1;
  padding: 6px;
  width: 30%;
  height: 30px;
  color: #eee;
  background: #000;
  border-radius: 5px;
  border: 2px ridge #888;
  display: inline-grid;
}

.vinyl-record {
  display: block;
  margin: auto;
  border-width: 4px;
  border-color: #888;
  border-style: double;
  border-radius: 50%;
}

.deck-controls {
  text-align: center;
  margin: 10px auto;
}

.deck-transition-panel {
  text-align: center;
  margin: 10px auto;
}

.deck-transition-panel .deck-control-button  {
  margin: 3% auto;
}

.transition-volume-panel {
  display: flex;
}

.transition-volume-panel > .deck-control-button {
  display: flex;
  flex-basis: 40%;
  min-height: 3rem;
  line-height: 2rem;
  text-align: center;
  vertical-align: middle;
}

.deck-is-playing {
  color: greenyellow !important;
}

.transition-time-input {
  margin: auto;
  max-width: 60%;
  text-align: center;
}

.deck-control-label {
  font-family: "Orbitron";
  font-weight: bold;
  line-height: 1;
  font-size: 100%;
  min-height: 30px;
  padding: 6px;
  display: inline-flex;
  color: #eee;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.deck-control-input {
  font-family: "Orbitron";
  font-weight: bold;
  line-height: 1;
  font-size: 100%;
  height: 30px;
  padding: 6px;
  background: #555;
  border-radius: 5px;
  border: 2px ridge #888;
  display: flex;
  color: #eee;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}

.track-tempo-display {
  font-family: "Orbitron";
  font-weight: bold;
  font-style: italic;
  line-height: 1;
  padding: 6px;
  width: 30%;
  height: 30px;
  color: red;
  background: #000;
  border-radius: 5px;
  border: 2px ridge #888;
  display: inline-grid;
}


.deck-control-button,
.deck-control-button:focus,
.deck-control-button:active {
  font-family: "Orbitron";
  font-weight: bold;
  line-height: 1;
  font-size: 100%;
  /* width: 30%; */
  height: 30px;
  padding: 6px;
  background: #000;
  border-radius: 5px;
  border: 2px ridge #888;
  display: inline-grid;
  color: #eee;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}

.deck-speed-slider {
  width: 80%;
  display: block;
  padding: 5%;
}

.analysis-results-container {
  display: block;
}

.track-info {
  display: none !important;
  color: greenyellow;
}

.track-progress-display {
  border: 1px solid #eee;
  display: block;
  width: 100%;
  min-height: 40px;
}

.track-progress-peak {
  fill: gray;
}

.track-progress-indicator {
  fill: red;
}

/*
.record-spinning-x0_25 {
  -webkit-animation: rotation 8s linear infinite;
  -moz-animation: rotation 8s linear infinite;
  -ms-animation: rotation 8s linear infinite;
  animation: rotation 8s linear infinite;
}

.record-spinning-x0_5 {
  -webkit-animation: rotation 4s linear infinite;
  -moz-animation: rotation 4s linear infinite;
  -ms-animation: rotation 4s linear infinite;
  animation: rotation 4s linear infinite;
}

.record-spinning-x1 {
  -webkit-animation: rotation 2s linear infinite;
  -moz-animation: rotation 2s linear infinite;
  -ms-animation: rotation 2s linear infinite;
  animation: rotation 2s linear infinite;
}

.record-spinning-x2 {
  -webkit-animation: rotation 1s linear infinite;
  -moz-animation: rotation 1s linear infinite;
  -ms-animation: rotation 1s linear infinite;
  animation: rotation 1s linear infinite;
}

.record-spinning-x4 {
  -webkit-animation: rotation .5s linear infinite;
  -moz-animation: rotation .5s linear infinite;
  -ms-animation: rotation .5s linear infinite;
  animation: rotation .5s linear infinite;
}

@-webkit-keyframes rotation {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotation {
  0%   { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); }
}
@-ms-keyframes rotation {
  0%   { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); }
}
@keyframes rotation {
  0%   { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); }
}

.record-spinning {
  -webkit-animation: rotation .5s linear infinite;
  -moz-animation: rotation .5s linear infinite;
  -ms-animation: rotation .5s linear infinite;
  animation: rotation .5s linear infinite;
}

*/
